@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder" Welcome to <spam class="text-danger"> Coding Droplets</spam></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <spam> Tu no estas registrado. por favor <a class="fw-bolder" href="/login">Click Aqui</a> para registrarte </spam>
                    </NotAuthorized>
                    <Authorized>
                        <spam> Registrado como<b>@context.User.Identity.Name</b> <a class="fm-bolder" href="/logout">Click Aqui</a> para cerrar sesion</spam>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

</div>
